<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="base :: head(index)">
</head>
<body>
<nav th:insert="base :: navbar"></nav>

<div class="container" id="contenido">
    <br>
    <br>
    <h3>Formulario del Usuario</h3>
    <br>
    <form method="post" th:action="@{/user/guardar}" th:object="${user}">
        <input th:value="*{id_user}" name="employee_id" type="hidden"/>
        <div class="row">
            <div class="form-group col-6">
                <label for="firstname">Nombre </label>
                <input th:field="*{firstname}" type="text" class="form-control" >
                <div class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" ></div>
            </div>
            <div class="form-group col-6">
                <label for="lastname">Apellido</label>
                <input th:field="*{lastname}"  type="text" class="form-control" >
                <div class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="intro">Texto de Introducción </label>
                <input th:field="*{intro}"  type="text" class="form-control" >
                <div class="text-danger" th:if="${#fields.hasErrors('intro')}" th:errors="*{intro}" ></div>
            </div>

            <div class="form-group col-6">
                <label for="profile">Texto de Perfil</label>
                <input th:field="*{profile}" type="text" class="form-control" >
                <div class="text-danger" th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}" ></div>
            </div>
        </div>


        <a th:href="@{/user}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary" th:text="${user.id_user == 0 ? 'Registrar': 'Actualizar'}">Guardar</button>
    </form>


</div>
</body>
</html>